<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <%- include('../partials/head', {title: 'add user'}); %>
  </head>
  <body class="d-flex flex-column h-100">
    <%- include('../partials/header'); %>

    <div class="container d-flex flex-row justify-content-center mt-5">
      <section class="form w-100">
        <h1 class="flex-fill text-center">Edit User</h1>

        <form
          class="d-flex flex-column align-item-center gap-3 needs-validation"
          novalidate
          method="post"
          action="/users/update/<%= user.id %>"
        >
          <div class="flex-fill form-floating">
            <input
              name="firstName"
              type="text"
              class="form-control"
              id="firstName"
              value="<%= user.firstName %>"
              aria-describedby="inputGroupPrepend"
              required
              placeholder="firstName"
            />
            <label for="firstName" class="form-label">firstName</label>
          </div>
          <div class="flex-fill form-floating">
            <input
              name="lastName"
              type="text"
              class="form-control"
              id="lastName"
              value="<%= user.lastName %>"
              aria-describedby="inputGroupPrepend"
              required
              placeholder="lastName"
            />
            <label for="lastName" class="form-label">lastName</label>
          </div>
          <div class="flex-fill form-floating">
            <input
              name="username"
              type="text"
              class="form-control"
              id="username"
              value="<%= user.username %>"
              aria-describedby="inputGroupPrepend"
              required
              placeholder="Username"
            />
            <label for="username" class="form-label">Username</label>
          </div>
          <div class="flex-fill form-floating">
            <input
              name="password"
              type="password"
              class="form-control"
              id="password"
              aria-describedby="inputGroupPrepend"
              disabled
              placeholder="Password"
            />
            <label for="password" class="form-label">Password</label>
          </div>
          <div class="form-check">
            <input
              name="passwordChange"
              class="form-check-input"
              onchange="passwordCheckboaxChange(this);"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Edit Password
            </label>
          </div>
          <div class="flex-fill">
            <button class="btn btn-primary w-100" type="submit">
              Edit User
            </button>
          </div>

          <% if(locals.error) { %>
          <div class="alert alert-danger" role="alert"><%= error %></div>
          <% } %>
        </form>
      </section>
    </div>

    <%- include('../partials/footer'); %>
  </body>
</html>
