<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid gap-2 d-flex p-3">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img width="40" class="d-inline-block pe-2" src="/images/app-icon.png" />
      Knowledge Share</a
    >
    <% if(locals.currentUser && currentUser.role == "SUPER_ADMIN"){%>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link <%= activatedPath == '/users' ? 'active' : ''%>"
            href="/users"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= activatedPath == '/articles' ? 'active' : ''%>"
            href="/articles"
            >Articles</a
          >
        </li>
      </ul>
    </div>
    <%}%>

    <div class="flex-fill"></div>
    <div class="d-flex align-items-center gap-2">
      <% if(locals.currentUser){%> <% if(currentUser.role == "USER") {%>
      <span>
        <%= locals.currentUser.firstName %> <%= locals.currentUser.lastName %>
      </span>
      <%} else {%>
      <span>@<%= locals.currentUser.username %> </span>
      <%} %>

      <a name="" id="" class="btn btn-primary" href="/logout" role="button">
        logout
      </a>
      <% } else {%>
      <a
        name=""
        id=""
        class="btn btn-primary"
        href="/auth/sign-in"
        role="button"
      >
        sign in
      </a>
      <a
        name=""
        id=""
        class="btn btn-primary"
        href="/auth/sign-up"
        role="button"
      >
        sign up
      </a>
      <%}%>
    </div>
  </div>
</nav>
